@font-face {
  font-family: 'PlaypenSans';
  src: url('/src/assets/fonts/PlaypenSans.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Montserrat Alternates', 'PlaypenSans', cursive;
  font-weight: 400;
  color-scheme: light dark;
  color: hsl(var(--foreground));
  background: hsl(var(--background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
